h2 {
  text-align: center;
}

#container {
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

#ltg-logo {
  display: block;
  margin: auto;
  width: 80px;
}

